.navbar {
  position: fixed; /* se queda fijo */
  top: 0;
  left: 0;
  width: 100vw; /* ocupa todo el ancho de la pantalla */
  height: 60px; /* alto fijo */
  background: #a5d6a7; /* verde pastel */
  padding: 0 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
  z-index: 1000;
}

.navbar-logo {
  font-size: 1.5rem;
  color: #2e7d32;
  font-weight: bold;
}

.navbar-links {
  list-style: none;
  display: flex;
  gap: 25px;
  margin: 0 auto;  /* <-- centra el bloque de links */
  padding: 0;
}


.navbar-links li a {
  text-decoration: none;
  font-size: 1.1rem;
  color: #2e7d32;
  padding: 6px 12px;
  border-radius: 8px;
  transition: 0.3s ease;
}

.navbar-links li a:hover {
  background: #81c784;
  color: white;
}

.logout-btn {
  background: none;
  border: none;
  color: white; /* o el color de tus links */
  cursor: pointer;
  font-size: 1rem;
  padding: 0;
}

.logout-btn:hover {
  text-decoration: underline;
}
